* {
	margin: 0;
	padding: 0;
}

body {
	user-select: none;
	overflow-x: hidden;
}

.app {
	width: 100vw;
	height: 330vh;
	display: flex;
	justify-content: center;
}

.startpage_container {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.header_container {
	width: 100vw;
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	position: fixed;
	left: 0;
}

.header_logo_container {
	width: 30vw;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 24pt;
	margin-left: 3.6vw;
	color: rgb(156, 157, 255);
}

.header_logo_container img {
	height: 100%;
	margin-right: 0.5vw;
}

.header_buttons_container {
	width: 60vw;
	height: 100%;
	margin-right: 5vw;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 14pt;
}

.header_button_start {
	background-color: rgb(156, 157, 255);
	color: white;
	width: 10vw;
	height: 80%;
	border-radius: 1vw;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s;
	font-size: 14pt;
}

.header_button_start:hover {
	background-color: rgb(114, 115, 172);
	cursor: pointer;
}

.startpage_block_one {
	width: 100%;
	height: 100vh;
	display: flex;
}

.one_text_container {
	height: 70%;
	width: 35%;
	margin-top: 25vh;
	margin-left: 5vw;
	font-size: 16pt;
}

.one_button {
	margin-top: 5vh;
	background-color: rgb(156, 157, 255);
	color: white;
	width: 10vw;
	height: 10vh;
	border-radius: 1vw;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s;
	font-size: 15pt;
}

.one_button:hover {
	background-color: rgb(114, 115, 172);
	cursor: pointer;
}

.one_img {
	height: 90vh;
	margin-top: 10vh;
}

.startpage_block_two {
	width: 100vw;
	height: 100vh;
	background-color: rgb(248, 248, 248);
}

.startpage_block_three {
	width: 100vw;
	height: 100vh;
	background-color: rgb(255, 255, 255);
}

.footer_container {
	width: 100vw;
	height: 30vh;
	background-color: rgb(39, 40, 59);
}
